Package: com.mattcmultimedia.googiri
Name: Googiri
Depends: mobilesubstrate(>= 0.9.5015), libactivator(>= 1.9.1), preferenceloader(>= 2.2.2), com.rpetrich.rocketbootstrap(>=1.0.2)
Version: 2.1.3
Architecture: iphoneos-arm
Description: route Google Search queries to Siri
Maintainer: MattCMultimedia
Author: MattCMultimedia
Section: Tweaks
